body {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


header li {
    padding-right: 12px;
}

header img {
    margin-right: 34px;
}

header {
    font-weight: 600;
}

.section_1 .content {
    font-family: Verdana, sans-serif;
    position: relative;
    margin-top: 181px;
    background: url("images/section.jpg");
}


.section_1 .background {
margin-left: -205px;
}

.section_1 .content {

    left: 0;
    top: 0;
    margin: 0 auto;
}

.section_2 {
    background-color: #F8F8F8;
    text-align: center;
}

.section_2 h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 13px;
}

.section_2 h1 {
    font-family: Inter sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 30px;
}

.section_2 img {
    margin-bottom: 29px;
}

.section_2 .content {
    padding-right: 30px;
}

.section_2 .btn {
    margin-top: 26px;
    margin-bottom: 41px;
    padding: 11.60px 24px 12.4px 24px;
}

.section_3 .container {
    word-wrap: break-word;
    padding: 20px 0 20px 15px;
}

.section_3 .content {
word-wrap: break-word;
}

.section_3 .img {
    margin-right: 113px;
}

.section_3 a {
    color: #067A46;
    text-decoration: underline;
}
.section_3 h2 {
    font-family: Inter sans-serif;
    font-size: 23px;
    font-weight: 400;
}

.section_3 .btn {
    padding: 11px 178px;
    background-color: #067A46;
    color: #FFFFFF;
    font-family: Segoe UI sans-serif;
}

.section_3 .btn-container {
    margin-top: 44px;
}