body {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



header li {
    padding-right: 12px;
}

header img {
    margin-right: 34px;
}

header {
    font-weight: 600;
}

.section_1 .content {
    font-family: Verdana, sans-serif;
}

.section_1 .container {
}
